CF_DNS_API_TOKEN = 'changeme' # API token with DNS:Edit permission
PROVIDERS_OIDC_CLIENT_ID = 'changeme' # https://console.developers.google.com/auth/clients
PROVIDERS_OIDC_CLIENT_SECRET = 'changeme'
SECRET = 'changeme' # openssl rand -hex 16
WHITELIST = 'changeme@gmail.com'